body{
	font-family: "Shadows Into Light", cursive;

	margin: 0;
	padding: 0;
	color: #000;
}
/*Background colors*/
#index-page{
	background-color: #d3c9ee;
}
#resume-page{
	background-color: #d4e6f3;
}
#hobbies-page{
	background-color: #eff3d4;
}


header{
	background-color: lightpink;
	text-align: center;
	padding: 20px;
}
header nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
header nav ul li{
	display: inline;
	margin-right: 20px;
}
header nav ul li a{
	text-decoration: none;
	color: floralwhite;
	background-color: hotpink;
	font-weight: bold;
	padding: 10px 20px;
}
nav ul li a:hover{
	color: #eee6c9;
}
h1{
	text-align: center;
	font-size: 48px;
	margin-top: 20px;
	color: black;

}
h2{
	font-size: 20px;
	font-weight: bold;
}
/* Homepage*/
#index-page{
	padding: 20px;
}
#index-page img{
	max-width: 100%;
	border: 3px solid purple;
}
/*Resume*/

#resume-page{
	padding: 20px;

}
#cinfo, #education, #workexp, #volunteer, #skills, #languages{
	margin-bottom: 10px;
	padding: 15px;
	border: 2px solid darkblue;
}

/*Hobbies*/
#hobbies-page{
	padding: 20px;
}
#travel{
	text-align: center;
}
#hobbies-page img{
	max-width: 100%;
	height: auto;
}
.image-container{
	position: relative;
	display: block;
	height: auto;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	color: black;
	transition: .5s ease;
	background-color: lightyellow ;
}
.image-container:hover .overlay{
	opacity: 1;
}


