body.index-page{
	background-color: #c2ba9e; 
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
	color: #000;
}
body.resume-page{
	background-color: papayawhip;

}
body.hobbies-page{
	background-color: lightskyblue;
}

header{
	font-family: "Shadows Into Light", cursive;
	background-color: lightpink;
	text-align: center;
	padding: 20px;
}
nav ul{
	list-style-type: none;
	display: inline;
	padding: 0;
	margin: 0;
}
nav ul li{
	margin: 0 20px;
}
nav ul li a{
	text-decoration: none;
	color: floralwhite;
	background-color: hotpink;
	font-size: 20px;
	padding: 10px 20px;
}
nav ul li a:hover{
	color: #eee6c9;
}
#index-page h1{
	font-size: 48px;
	text-align: center;
	margin-top: 20px;
	color: black;
}

h2{
	font-size: 20px;
}
p,ul{
	font-size: 18px;
}
section ul {
	margin-left: 20px;
}

section ul li{
	margin-bottom: 10px;
}
img{
	max-width: 100%;
	border: 1px solid lightsalmon;
}

